* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}
.App {
	overflow: hidden;
	text-align: center;
}

.css-1jejqrs-MuiTabs-indicator {
	height: 4px !important;
	border-radius: 2rem;
	width: 103px !important;
}
.css-1069odk-MuiButtonBase-root-MuiTab-root {
	padding: 12px 8px !important;
}
